#root {
  margin: 0 auto;
  /* text-align: center; */

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: var(--fs-400);
}


.title-group {
  display: grid;
  gap: 1.5em;
}

.title {
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 1;
  color: var(--clr-text-main);
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  color: var(--clr-text-main);
}

.inner-link,
.outer-link {
  color: var(--clr-text-main);
  font-weight: 700;
  width: fit-content;

  display: flex;
  gap: 0.5rem;
}
.inner-link svg,
.outer-link svg {
  width: 1.125rem;
  height: 1.125rem;
  transition-property: translate, color;
  transition-duration: 100ms;
}

.inner-link:hover svg {
  translate: 0.5rem;
}
.outer-link:hover svg {
  translate: 0.25rem -0.25rem;
}

.inner-link span {
  padding-block-end: 0.25rem;
  border-bottom: 1px solid transparent;
  transition: border-color 100ms;
}
.inner-link:hover span {
  border-color: var(--clr-accent);
}

.outer-link:hover {
  color: var(--clr-accent);
}


.navbar {
  width: 100%;
  padding-inline: 1.5em;
  padding-block: 1em;
}
.navbar-nav {
  margin-inline-start: auto;
  width: fit-content;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 0.5em;

  font-size: 1.25em;
}
.navbar-list a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}
.navbar-list a:hover {
  font-weight: 600;
}


/* start Projects Styles */

.projects-page {
  display: grid;
  gap: 4em;
}

.projects-list {
  list-style: none;

  display: grid;
  grid-template-columns: 200px 2fr;
  gap: 2em;

  margin-inline: 1em;
}

.project {
  display: contents;
}

.project-details {
  text-align: left;
}
.project-showcase {
  background-color: #fff1;
  border: 2px solid white;
  aspect-ratio: 16 / 9;
  max-height: max(85vh, 550px);

  align-content: center;
  justify-items: center;
}

/* end Projects Styles */

/* start CV Styles */

.cv-page {
  display: grid;
  grid-template-columns: 1fr 1.125fr;
  gap: 1rem;

  max-width: 1250px;
  margin-inline: auto;
  padding-inline: 3rem;

  text-wrap: pretty;
  line-height: 1.4;
}
.cv__header,
.cv__main {
  padding-block: 5rem;
}

.cv__header {
  position: sticky;
  top: 0;
  height: 100dvh;

  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}
.cv__header p {
  max-width: 23rem;
}

.cv__header-top {
  display: grid;
  gap: 0.75rem;
}
.cv__header-desc {
  margin-block-start: 0.75rem;
  text-wrap: balance;
}
.cv__header-desc,
.cv__main__bottom {
  font-size: var(--fs-300);
}

.cv__nav {
  margin-block-start: 4rem;
  margin-block-end: 2rem;
}
.cv__nav ul {
  list-style: none;
  display: grid;
  gap: 0.25rem;
}
.cv__nav button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;

  font-size: var(--fs-200);
  text-transform: uppercase;
  padding-block: 0.5rem;
  transition: color 50ms;
}
.cv__nav button:hover,
.cv__nav button[data-active="true"] {
  color: var(--clr-text-main);
}
.cv__nav button::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 2rem;
  background: currentColor;

  margin-inline-end: 1.5ch;
  margin-block-end: 0.25rem;
  transition: width 200ms;
}
.cv__nav button:hover::before,
.cv__nav button[data-active="true"]::before {
  width: 4rem;
}

.cv__socials {
  display: flex;
  gap: 1.5rem;
  margin-block-start: 1.5rem;
}
.cv__socials a {
  width: 1.375rem;
  height: 1.375rem;

  color: inherit;
  transition: color 100ms;
}
.cv__socials a:hover {
  color: var(--clr-text-main);
}
.cv__socials svg {
  max-width: 100%;
  max-height: 100%;
}


.cv__main {
  display: grid;
  gap: 6rem;
}
.cv-section {
  display: grid;
  gap: 2rem;
  height: fit-content;
  scroll-margin: 4rem;
}
.cv-section__title {
  text-transform: uppercase;
  color: var(--clr-text-main);
  font-size: var(--fs-400);
  font-weight: 600;

  display: none;
}

.cv-section__about {
  display: grid;
  gap: 1rem;
}
.cv-section__about a {
  color: var(--clr-text-main);
  font-weight: 500;

  transition: color 100ms;
}
.cv-section__about a:hover {
  color: var(--clr-accent);
}

.cv__entry-experience {
  display: grid;
  grid-template-columns: 19% 1fr;
  column-gap: max(1rem, 3%);
}
.cv__entry-main {
  display: grid;
  gap: 0.5rem;
}


.cv__entry-date {
  font-size: var(--fs-200);
}
.cv__entry-img {
  border-radius: 0.25rem;
  max-width: 100%;
}
.cv__entry_title-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cv__entry-title {
  color: var(--clr-text-main);
  font-size: var(--fs-400);
  font-weight: 600;
}
.cv__entry-subtitle {
  font-size: var(--fs-300);
}
.cv__entry-desc {
  font-size: var(--fs-300);
}
.cv__entry-tools {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  font-size: var(--fs-200);
  margin-block-start: 0.5rem;
}

.cv__entry-tool::after {
  content: "/";
  margin-inline: 0.5rem;
}
.cv__entry-tool:last-child:after {
  content: ""
}


@media (max-width: 64rem) {
  .cv-page {
    grid-template-columns: 1fr;
    padding-inline: 2.5rem;
  }

  .cv-section__title {
    display: initial;
  }

  .cv__header {
    position: initial;
    height: fit-content;
    padding-block-start: 4rem;
    padding-block-end: 0;
  }
  .cv__nav {
    display: none;
  }

}

@media (max-width: 40rem) {
  .cv-page {
    padding-inline: 1.5rem;
  }

  .cv__entry {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }
  .cv__entry-img {
    order: 1;
    margin-block-start: 1rem;
  }
}

/* end CV Styles */
