:root {
  --clr-primary-200: #f2e2e6;
  --clr-primary-300: #e0adb9;
  --clr-primary-400: #DA627D;
  --clr-primary-800: #450920;

  --clr-primary-200: #e3e9f1;
  --clr-primary-300: #8999b2;
  --clr-primary-400: #3b82c0;
  --clr-primary-800: #131d2d;

  --clr-accent-400: #e7c53d;
  --clr-accent-400: rgb(94 234 212);

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.5rem;

  color-scheme: dark;
  color: var(--clr-primary-300);
  background-color: var(--clr-primary-800);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* main {
  margin-block: 2em;
} */

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}


::-moz-selection {
  color: var(--clr-primary-800);
  background: var(--clr-accent-400);
}

::selection {
  color: var(--clr-primary-800);
  background: var(--clr-accent-400);
}
